/* Main Webpage */
html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #d5bfed 0,#c4caef 58%);
   scroll-behavior: smooth;
     align-items: center;
  }
  
  /* Title and Sub-title */
  h1, h3 {
      font-family: sans-serif;
      text-align: center;
  }
  
  
  /* CSS */
  .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 420px;
    padding: 15px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  
  /* HR tag */
  
  hr {
      height: 2px;
    background: white;
    border-color: white;
    padding: 2px;
    width: 1000px;
  }
  
  
  .center {
  display: flex;
  border: 10px solid #FFF;
  line-height: 30px;
  height: 300px;
  width: 750px;
  padding: 10px;
  background-: white;
  border-radius: 25px;
  margin: auto;
  }
  
  ul {
    text-align: center;
    position: relative;
    display: inline-block;
  }
  
  .div--1 {
    background-color: white;
  }
  
  .div--2 {
    background-color: white;
  }
  
  .div--3 {
    background-color: white;
  }
  
  .navbar ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    list-style: none;
    padding: 1.5em;
    border-radius: 12px;
    border: none;
    font-family: sans-serif;
  }
  
  .navbar ul li a {
    background-color: white;
    padding: 1em;
    border-radius: 12px;
    border: none;
    text-decoration: none;
  }
  
  .navbar ul li:hover li:click {
    background-color: grey, black;
    cursor: pointer;
  }
  
  .navbar {
    text-align: center;
    display:inline;
    width: 1000px;
  }
  
  section {
    width: 75%;
  }
  
  .features {
      text-align: center;
      display: block;
  }
  
  .summary {
      text-align: center;
      display: below;
  }
